@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

html, body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    position: relative;
    background-color: rgb(65, 65, 160);
}

.pikkul {
    background-color: rgb(65, 65, 160);
    width: 100%;
    position: relative;
    /*margin: auto;*/
    /*box-shadow: -5px 0 5px 0 #888888;*/
    height: 78%;
    /*margin-top: 1%;*/
    text-align: center;
    padding-top: 1%;
            /*left:30px;*/
    /*fixed sellega saab teha navi mis pysib näkyvilla*/
    /*position:fixed;
            left: 0px;
            top:0px;
            /*top:calc(50% - 25px); ja sama left or jotain*/
    /*position relative ja absolute kaverit kekskenään
           absoluteiga saab votta elemendi vahelt ära .
           relative pitää kastidel väli aga absolute lihtsalt eemaldab ta seal esim kaks kasti lähevad yksteise peale.
           */
}

#green {
    /*background-color: rgb(72, 185, 82);*/
    height: 10%;
    position: absolute;
    right: 1%;
}

#blue {
    /*background-color: blue;*/
    width: 5%;
    height: 10%;
    margin-left: 1%;
}

#yellow {
    /*background-color: yellow;*/
    width: 0%;
    height: 20%;
    position: absolute;
    /*vasakult 50% siirdame paremale ja selle lisaks pool oma suurusest*/
    left: 50%;
    margin-top: 7%;
    
}

#grey {
    /*background-color: rgb(117, 117, 117);*/
    width: 0%;
    position: relative;
    left: calc(50% - 192px);
    margin-top: 7%;
    margin-left: 1%;
}

#brown {
    /*background-color: brown;*/
    width: 0%;
    height: 20%;
    position: absolute;
    left: 50%;
    margin-top: 1%;
}

#violet {
    /*background-color: violet;*/
    width: 0%;
    height: 20%;
    position: relative;
    left: calc(50% - 192px);
    margin-top: 1%;
    margin-left: 1%;
}

#footer {
    background-color: rgb(43, 3, 43);
    width: 100%;
    height: 5%;
    
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 12px;
}

#header {
    background-color: rgb(43, 3, 43);
    width: 100%;
    color: rgb(255, 255, 0);
    text-align: center;
    font-size: 60px;
    position: relative;
}

.btn {
    display: inline-block;
    width: 150px;
    height: 150px;
    background: #f1f1f1;
    /*margin: 1px;*/
    margin: 15%;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
}

.btn i {
    line-height: 140px;
    font-size: 70px;
    transition: 0.2s linear;
}

.btn1 i {
    line-height: 90px;
    font-size: 26px;
    transition: 0.2s linear;
}

.btn:hover i, .btn1:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
}

.btn::before, .btn1::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3498db;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.btn:hover::before, .btn1:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes aaa {
    0% {
        left: -110%;
        top: 90%;
    }
    50% {
        left: 10%;
        top: -30%;
    }
    100% {
        top: -10%;
        left: -10%;
    }
}

.btn1 {
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #f1f1f1;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
}


 button{
    background: transparent;
    border:none;
    outline:none;
}

.login-box{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.login-box h1{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #4caf50 ;
    margin-bottom: 50px;
    padding: 13px 0;
}

.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #4caf50 ;

}

.textbox i {
    width: 26px;
    float: left;
    text-align: center;
}

.textbox input{
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px;
}

.butn{
    width: 100%;
    background: none;
    border: 2px solid #4caf50;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}

.butn:hover {
    border: 2px solid #63a8e9;
}

.butn:active {
    border: 2px solid #2c73b6;
    box-shadow: 0 5px rgb(50, 48, 179);
    transform: translateY(4px);
}

.wrap{
    max-width: 350px;
    margin: auto;
    padding: 20px;
    /*background: #fff;*/
    margin-top: 100px;
    border-radius: 20px;
}

.signup-form{
    margin-top: 50px;
}
input{
    width: 100%;
    padding: 4px;
    box-sizing: content-box;
    margin-bottom: 10px;
    border: none;
    outline:none;
    border:1px solid gray;
    font-size: 15px;
    border-radius: 5px;
}
h2{
    margin: 0;
    padding: 0;
    font-size: 2em;
    text-align: center;
    color: white;
}

input[type=submit] {
    font-size: 16px;
    margin-top: 30px;
    color: #fff;
    font-weight: bold;
    background: none;
    border:2px solid #4caf50;;
    cursor: pointer;
}

input[type=submit]:hover{
    border: 2px solid #63a8e9;
}

.openbtn {
    /*background: #f1f1f1;*/
    border: none;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    /*float: right;*/
    
}

.openbtn:hover{
    background: rgb(40, 31, 92);
    border-radius: 10px;
}

.overlay{
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left:0;
    background: rgba(0,0,0,0.7);
}

.closebtn{
    position: absolute;
    top: 5%;
    right:30%;
    font-size: 45px;
    font-weight: bold;
    cursor: pointer;
    color:#fff;
}

.closebtn:hover{
    color: #ccc;
}

.signbtn {
    width: 100%;
    background: none;
    border: 2px solid #4caf50;
    color: white;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 12px;
}

#line_chart {

    background: rgba(0,0,0,0.7) !important;

}

 /*@media only screen and (max-width: 1000px) {


    #chatBox {
        font-size: 35px;
        width: 100%; 
        margin-top: 30px;
        background: rgba(0,0,0,0.5);
    }
    
    
    
    #myChatForm {
        width: 100%;
        display: inline-block;
        margin: auto;
    }
    #user_name {
        width: 100%;
        padding: 20px;
        font-size: 35px;
    }
    
    #message {
        width: 100%;
        padding: 20px;
        font-size: 35px;
    }
    
   
    }
    @media only screen and (orientation: landscape) {
            body {
                background-image: none;
                background-color: lightblue;
            }
        }
        @media screen and (min-width: 600px) {
            h3 {
                font-size: 55px;
            }
            p{
                font-size: 25px;
            }
        }
    
    
*/
/*-----------------------------------------------------
<style>

// Positioning items    
//////////////////////

Reset *
Display: inline vs block
https://www.w3schools.com/cssref/pr_class_display.asp


Box-sizing
https://www.w3schools.com/css/css3_box-sizing.asp

Using percentages and max-width
https://www.w3schools.com/cssref/css_units.asp

Float and clear
https://www.w3schools.com/cssref/pr_class_float.asp
float kellutab elementte. p sisse pilt koos tekstiga.

Flexbox - https://www.w3schools.com/css/css3_flexbox.asp

Absolute/Relative positioning
https://www.w3schools.com/cssref/pr_class_position.asp
 


Centering
https://www.w3schools.com/css/css_align.asp



</style>--*/