@charset "utf-8";

body {
    background-color: rgb(197, 201, 204);
}

#chatBox {
    width: 60%;
    height: 600px;
    margin: 0 auto;
    margin-bottom: 3%;
    border-width:5px;


}

#myChatForm {
    text-align: center;
}

input[type = "text"] {
    width: 40%;
    padding: 2px;
    margin: 3px;
    font-family: Lato; 
    -webkit-box-shadow: 1px 1px 5px 2px rgba(128,121,128,0.7);
    -moz-box-shadow: 1px 1px 5px 2px rgba(128,121,128,0.7);
    box-shadow: 1px 1px 5px 2px rgba(128,121,128,0.7);
}

textarea {
    width: 40%;
    padding: 2px;
    margin: 3px;
    -webkit-box-shadow: 1px 1px 5px 2px rgba(128,121,128,0.7);
    -moz-box-shadow: 1px 1px 5px 2px rgba(128,121,128,0.7);
    box-shadow: 1px 1px 5px 2px rgba(128,121,128,0.7);
}

#sendMessageBtn {
    width: 40%;
    font-family: 'Capriola';
    font-size: 22px;
    -webkit-box-shadow: 1px 1px 5px 2px rgba(128,121,128,0.7);
    -moz-box-shadow: 1px 1px 5px 2px rgba(128,121,128,0.7);
    box-shadow: 1px 1px 5px 2px rgba(128,121,128,0.7);
}

#chatBox{
    overflow-y: scroll;
    background-color: rgb(213, 230, 230);
    -webkit-box-shadow: 1px 1px 5px 2px rgba(128,121,128,0.7);
    -moz-box-shadow: 1px 1px 5px 2px rgba(128,121,128,0.7);
    box-shadow: 1px 1px 5px 2px rgba(128,121,128,0.7);
 }

 h3 {
    font-family: 'Capriola';
    font-size: 40px;
    text-shadow: 2px 1px 4px rgba(150, 150, 150, 1);
    color: rgb(1, 5, 36);
 }